In [1]:
import pandas as pd

In [2]:
# https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales
df = pd.read_csv('supermarket_sales - Sheet1.csv')

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
# Mostra informaçoes de cada coluna como tipo, se tem valor nulo, quantidade
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Foi mostrado ao ChatGPT as colunas da tabela e pedido para retornar perguntas de forma aleatorias com a utilização da biblioteca **Pandas**

1 - Quantas linhas e colunas existem no seu conjunto de dados?

In [5]:
resp_1 = df.shape
print(f'Existe um total de {resp_1[0]} linhas e {resp_1[1]} colunas')

Existe um total de 1000 linhas e 17 colunas

2 - Qual é o valor médio da coluna "Unit price"?

In [6]:
resp_2 = df['Unit price'].mean()
print(f'o valor medio da coluna "Unit price" é de {resp_2:.2f}')

o valor medio da coluna "Unit price" é de 55.67

3 - Qual é o total de vendas (soma da coluna "Total")?

In [7]:
resp_3 = df['Total'].sum()
print(f'O total de vendas da coluna "Total" é de {resp_3:.2f}')

O total de vendas da coluna "Total" é de 322966.75

4 - Qual é o rating médio das avaliações (coluna "Rating")?

In [8]:
resp_4 = df['Rating'].mean()
print(f'As avaliações medias da colune "Rating" é {resp_4:.2f}')

As avaliações medias da colune "Rating" é 6.97

5 - Quantos clientes únicos existem no conjunto de dados?

In [9]:
resp_5 = df['Invoice ID'].nunique()
print(f'Existem {resp_5} ID unicos')

Existem 1000 ID unicos

6 - Quais são os 5 principais clientes que gastaram mais?

In [10]:
resp_6 = df.groupby('Invoice ID')['Total'].sum().nlargest(5)
print(f'Os clientes que gastam mais são:\n{resp_6}')

Os clientes que gastam mais são:
Invoice ID
860-79-0874    1042.65
687-47-8271    1039.29
283-26-5248    1034.46
751-41-9720    1023.75
303-96-2227    1022.49
Name: Total, dtype: float64

7 - Qual é a distribuição de gênero entre os clientes?

In [11]:
resp_7 = df['Gender'].value_counts(normalize=True) * 100
print('Porcentagem de gênero na coluna "Gender":')
print(resp_7)

Porcentagem de gênero na coluna "Gender":
Gender
Female    50.1
Male      49.9
Name: proportion, dtype: float64

8 - Qual é o produto mais vendido (com base na coluna "Quantity")?

In [12]:
soma_quant = df.groupby('Product line')['Quantity'].sum()
resp_8 = soma_quant.idxmax()
print(f'O produto mais vendido da coluna "quatity" é "{resp_8}"')

O produto mais vendido da coluna "quatity" é "Electronic accessories"

9 - Qual é o produto mais lucrativo (com base na coluna "gross income")?

In [13]:
resp_9 = df.groupby('Product line')['gross income'].sum().idxmax()
print(f'O produto mais lucrativo é "{resp_9}"')

O produto mais lucrativo é "Food and beverages"

10 - Qual é o preço médio dos produtos em cada linha de produto?

In [14]:
resp_10 = df.groupby('Product line')['Unit price'].mean()
print(f'O preço medio de cada produto:\n{resp_10}')

O preço medio de cada produto:
Product line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit price, dtype: float64

11 - Qual filial teve o maior volume de vendas?

In [15]:
resp_11 = df.groupby('Branch')['Quantity'].sum().idxmax()
print(f'A filiar que mais teve Volume de vendas foi "{resp_11}"')

A filiar que mais teve Volume de vendas foi "A"

12 - Qual cidade teve o menor total de vendas?

In [16]:
resp_12 = df.groupby('City')['Total'].sum().idxmin()
print(f'A cidade que teve o menor numero de vendas foi "{resp_12}"')

A cidade que teve o menor numero de vendas foi "Mandalay"

13 - Qual é a média de rating para cada filial?

In [17]:
resp_13 = df.groupby('Branch')['Rating'].mean()
print('A media avaliação de cada Afilial foi de:')
print(resp_13)

A media avaliação de cada Afilial foi de:
Branch
A    7.027059
B    6.818072
C    7.072866
Name: Rating, dtype: float64

14 - Qual é o dia com o maior volume de vendas?

In [18]:
df['Date'] = pd.to_datetime(df['Date'])
vendas_por_dia = df.groupby('Date')['Total'].sum()
resp_14 = vendas_por_dia.idxmax()
print(f'O dia com o maior volume de vendas foi: {resp_14}')

O dia com o maior volume de vendas foi: 2019-03-09 00:00:00

15 - Qual é a média de vendas por dia da semana?

In [19]:
df['Date'] = pd.to_datetime(df['Date'])
# Extraindo o dia da semana e criando uma nova coluna 'Day_of_Week' (segunda-feira = 0, domingo = 6)
df['Day_of_Week'] = df['Date'].dt.dayofweek
resp_15 = df.groupby('Day_of_Week')['Total'].mean()
print('Média de vendas por dia da semana:')
print(resp_15)

Média de vendas por dia da semana:
Day_of_Week
0    303.192624
1    325.836997
2    305.812133
3    328.617739
4    316.016838
5    342.200058
6    334.269868
Name: Total, dtype: float64

Explicação da tabela acima:<br>
0 = Domingo<br>
1 = Segunda<br>
2 = Terça<br>
3 = Quarta<br>
4 = Quinta<br>
5 = Sexta<br>
6 = Sábado

16 - Existe alguma sazonalidade(padrões) nas vendas ao longo do ano?

In [24]:
df['Date'] = pd.to_datetime(df['Date'])
resp_16 = df.groupby(df['Date'].dt.month)['Total'].mean()
print(resp_16)

Date
1    330.374625
2    320.856020
3    317.262339
Name: Total, dtype: float64

Nota: Como a somente 3 mes, não é possivel verificar se á sazonalidade(padrões), é preciso de mais acumulode dados.

17 - Qual é o método de pagamento mais comum?

In [21]:
metodos_pagamento = df['Payment'].value_counts()
resp_17 = metodos_pagamento.idxmax()
print(f'O método de pagamento mais comum é: {resp_17}')

O método de pagamento mais comum é: Ewallet

18 - Qual é o método de pagamento preferido pelos clientes mais bem avaliados?

In [22]:
max_avaliacao = df['Rating'].max()
clientes_melhor_avaliados = df[df['Rating'] == max_avaliacao]
resp_18 = clientes_melhor_avaliados['Payment'].value_counts().idxmax()
print(f'O método de pagamento preferido pelos clientes mais bem avaliados é: {resp_18}')

O método de pagamento preferido pelos clientes mais bem avaliados é: Ewallet